<section class="hero">
    <img
    src="{{ section.settings.hero_image | image_url: width: 1600 }}"
    alt="Hero"
    width="{{ section.settings.hero_image.width }}"
    height="{{ section.settings.hero_image.height }}">
      <div class="hero-text">{{ section.settings.hero_text }}</div>
</section>

{% schema %}
{ 
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "hero_text",
      "label": "Overlay Text",
      "default": "Welcome to {{shop.name}}"
    }
  ]
}
{% endschema %}
